# 1.1 - Movielens full - EDA
Nu ska du ladda ned datasetet ml-latest.zip under sektionen "recommended for education and
development". Läs in dataseten "movies.csv" och "ratings.csv" besvara på följande frågorna nedan.
- a) Gör en EDA för att förstå datasetet. Inkludera olika slags plots. Begränsa dig inte till frågorna nedan, utan försök undersöka fler aspekter av datan.

In [41]:
import pandas as pd
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
from fuzzywuzzy import process

In [42]:
movies='../../data/ml-latest/movies.csv'
ratings='../../data/ml-latest/ratings.csv'

df_movies=pd.read_csv(movies, usecols=['movieId', 'title', 'genres'], dtype={'movieId':'int32','title':'str' })
df_ratings=pd.read_csv(ratings, usecols=['userId', 'movieId', 'rating'], dtype={'userID':'int32', 'movieId':'int32', 'rating':'float32'})

In [35]:
print(df_ratings.shape)

(33832162, 3)

In [38]:
df_ratings.head(20)

    userId  movieId  rating
0        1        1     4.0
1        1      110     4.0
2        1      158     4.0
3        1      260     4.5
4        1      356     5.0
5        1      381     3.5
6        1      596     4.0
7        1     1036     5.0
8        1     1049     3.0
9        1     1066     4.0
10       1     1196     3.5
11       1     1200     3.5
12       1     1210     4.5
13       1     1214     4.0
14       1     1291     5.0
15       1     1293     2.0
16       1     1376     3.0
17       1     1396     3.0
18       1     1537     4.0
19       1     1909     3.0

- b) Vilka är de 10 filmerna med flest ratings?

In [40]:
rating_counts=df_ratings['movieId'].value_counts()
top_10_movies=rating_counts.head(10)
top_10_titles=df_movies[df_movies['movieId'].isin(top_10_movies.index)]

print(top_10_titles[['movieId', 'title']])

      movieId                                              title
257       260          Star Wars: Episode IV - A New Hope (1977)
292       296                                Pulp Fiction (1994)
314       318                   Shawshank Redemption, The (1994)
351       356                                Forrest Gump (1994)
475       480                               Jurassic Park (1993)
522       527                            Schindler's List (1993)
585       593                   Silence of the Lambs, The (1991)
1166     1196  Star Wars: Episode V - The Empire Strikes Back...
2480     2571                                 Matrix, The (1999)
2867     2959                                  Fight Club (1999)

c) Beräkna den genomsnittliga ratingen för dessa 10 filmerna med flest ratings.

Top 5 inom drama