# 1.1 - Movielens full - EDA
Nu ska du ladda ned datasetet ml-latest.zip under sektionen "recommended for education and
development". Läs in dataseten "movies.csv" och "ratings.csv" besvara på följande frågorna nedan.
- a) Gör en EDA för att förstå datasetet. Inkludera olika slags plots. Begränsa dig inte till frågorna nedan, utan försök undersöka fler aspekter av datan.

In [2]:
import pandas as pd
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
from fuzzywuzzy import process

c:\NBIHandelsakademin\Github\AI-Louise-Luoto-OPA23\venv\Lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [3]:
movies='../../data/ml-latest/movies.csv'
ratings='../../data/ml-latest/ratings.csv'

df_movies=pd.read_csv(movies, usecols=['movieId', 'title', 'genres'], dtype={'movieId':'int32','title':'str' })
df_ratings=pd.read_csv(ratings, usecols=['userId', 'movieId', 'rating'], dtype={'userID':'int32', 'movieId':'int32', 'rating':'float32'})

In [4]:
print(df_ratings.shape)

(33832162, 3)

In [5]:
df_ratings.head(20)

    userId  movieId  rating
0        1        1     4.0
1        1      110     4.0
2        1      158     4.0
3        1      260     4.5
4        1      356     5.0
5        1      381     3.5
6        1      596     4.0
7        1     1036     5.0
8        1     1049     3.0
9        1     1066     4.0
10       1     1196     3.5
11       1     1200     3.5
12       1     1210     4.5
13       1     1214     4.0
14       1     1291     5.0
15       1     1293     2.0
16       1     1376     3.0
17       1     1396     3.0
18       1     1537     4.0
19       1     1909     3.0

- b) Vilka är de 10 filmerna med flest ratings?

In [25]:
# Count how many times each movieId appears in df_ratings
rating_counts = df_ratings["movieId"].value_counts()

# Select 10 movies with the most ratings
movies = rating_counts.head(10)

# Select movies from df_movies that are among the top 10 most-rated using their movieId
top_10_titles = df_movies[df_movies["movieId"].isin(movies.index)].copy()

# Lägg till en ny kolumn till top_10_titles för antalet ratings varje film fått
top_10_titles['ratingCount'] = top_10_titles['movieId'].map(rating_counts)

# Sortera top_10_titles baserat på 'ratingCount' i fallande ordning
top_10_titles_sorted = top_10_titles.sort_values(by='ratingCount', ascending=False)

# Ändra kolumnens namn från 'ratingCount' till 'Number of Ratings'
top_10_titles_sorted = top_10_titles_sorted.rename(columns={'title': 'Title', 'ratingCount': 'Number of ratings'})

# Skriv ut movieId, titel och ratingCount kolumnerna utan index
print(top_10_titles_sorted[['Title', 'Number of ratings']].to_string(index=False))

                                                Title  Number of ratings
                     Shawshank Redemption, The (1994)             122296
                                  Forrest Gump (1994)             113581
                                  Pulp Fiction (1994)             108756
                                   Matrix, The (1999)             107056
                     Silence of the Lambs, The (1991)             101802
            Star Wars: Episode IV - A New Hope (1977)              97202
                                    Fight Club (1999)              86207
                              Schindler's List (1993)              84232
                                 Jurassic Park (1993)              83026
Star Wars: Episode V - The Empire Strikes Back (1980)              80200

c) Beräkna den genomsnittliga ratingen för dessa 10 filmerna med flest ratings.

d) Gör en plot över årtal och antalet filmer representerade i datasetet.

 e) Gör en plot över antalet ratings mot movieId.

f) Beräkna genomsnittliga ratings för de top 10 filmerna med flest ratings. Gör ett stapeldiagram över
dessa.

Top 5 inom drama